{% extends "layout.html" %}
{% block main %}
<div class="hero" >
<h1 class="pure-u-1">ThisPlusThat<font color="red" style="font-size:50%">.me</font></h1>
<h2 class="pure-u-3-4 l-centered"> Amazing language relationships</h2>
<form class="pure-form" action="" method="post">
    <input class="pure-input-2-3" type=text
    placeholder="Independence Day - Goofy + Epic" name=query
    style='font-size:20px'/><br />
</form>
<p><a class="pure-button pure-button-cta" href="/search/query">Search</a> 
 <a class="pure-button pure-button-secondary" href="/how.html">How it
     Works</a></p>
</div>
{% endblock %}
{% block mid %}
{% endblock %}
