<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <script type="text/javascript" src="//use.typekit.net/tcl7xzx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ThisPlusThat.me</title>
  <link rel="stylesheet" href="/pure-min.css" type="text/css" />
  <link rel="stylesheet" href="/main.css" type="text/css" />
  <link rel="stylesheet" href="/home.css" type="text/css" />
  <link rel="stylesheet" href="/baby-blue.css" type="text/css" />
  <script language="javascript" src="/email.js"></script>
</head>

<body>
    <div class="pure-u-4-5-c" id="layout">
    {% block main %}
    {% endblock %}
    {% block mid %}
    {% endblock %}
    <div class="legal pure-g-r">
      <div class="pure-u-2-5">
        <div class="l-box">
          <p class="legal-license">This site is built with &lt;3 using
            <a href="http://purecss.io/"> Pure v0.2.1</a>
          </p>
          <p class="legal-license">Stock photos from 
            <a href="http://www.flickr.com/photos/m4tik/">m4tik</a>
          </p>
          <p class="legal-license"> An 
            <a href="http://insightdatascience.com/">Insight Data Science</a> Project
          </p>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="l-box legal-logo">
          <a href=""><img src="/profile_round.jpg"
          height="96" width="96" alt="YUI logo" /></a>
        </div>
      </div>
      <div class="pure-u-2-5">
        <div class="l-box">
          <ul class="legal-links pure-g">
            <li class="pure-u-1-2"><a href="http://github.com/cemoody/wizlang">GitHub
            Project</a></li>
            <li class="pure-u-1-2">
            <script>mail2("chris.e.moody","gmail",0,"","Contact Me")</script>
            </li>
          </ul>
          <p class="legal-copyright">
            <a href="http://cemoody.prtflio.eu/"> About me </a>
          </p>
          <p class="legal-copyright">&#169; 2013 Christopher Moody. </p>
          <p class="legal-copyright">All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

