<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
  <script type="text/javascript" src="//use.typekit.net/tcl7xzx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script language="javascript" src="/email.js"></script>
  <link rel="stylesheet" href="/personal.css">
  <title>ThisPlusThat.me</title>
</head>

<body>
    <style>
    body,
    .pure-g [class *= "pure-u"],
    .pure-g-r [class *= "pure-u"] {
            font-family:omnes-pro;
            }
    </style>
    <div class="pure-g-r">
      <div class="pure-u-1" style="text-align:center;padding:0 2em;">
        {% block main %}
        {% endblock %}
        <div class="pure-g-r" style="margin-top:50px">
            <div class="pure-u color-table" style="width:16%; background:#0e90d2"> 
                <a href="/search/Bill%20Gates%20-%20Microsoft" style="color:white">
                Bill Gates - Microsoft</a>
            </div>
            <div class="pure-u color-table" style="width:16%; background:rgb(128, 88, 165)"> 
                <a href="/search/Han%20Solo%20%2B%20Jedi" style="color:white">
                Han Solo + Jedi</a>
            </div>
            <div class="pure-u color-table" style="width:16%; background:#5eb95e"> 
                <a href="/search/Han%20Solo%20%2B%20Sexy" style="color:white">
                Han Solo + Sexy</a>
            </div>
            <div class="pure-u color-table" style="width:16%; background:#dd514c"> 
                Example 
            </div>
            <div class="pure-u color-table" style="width:16%; background:rgb(243, 123, 29)"> 
                Example 
            </div>
            <div class="pure-u color-table" style="width:16%; background:rgb(250, 210, 50)"> 
                <a href="/search/marriage%20-%20sex" style="color:white">Married - Sex</a>
            </div>
        </div>
        {% block mid %}
        {% endblock %}
      </div>
    </div>
    
    <div class="pure-g-r footer">
      <div class="pure-u-2-5 footer-tile">
          <p class="footer-text-l">This site was built with <3 using <a href="http://purecss.io/">PureCSS</a></p>
          <p class="footer-text-l">An <a href="http://insightdatascience.com/">Insight Data Science</a> Project</p>
      </div>
      <div class="pure-u-1-5 footer-tile">
          <img src="/profile_round.jpg"/>
      </div>
      <div class="pure-u-2-5 footer-tile">
          <p class="footer-text-r"><a href="http://github.com/cemoody/wizlang">GitHub Repo</a></p>
          <p class="footer-text-r"><script>mail2("chris.e.moody","gmail",0,"","Contact Me")</script></p>
          <p class="footer-text-r"> Christopher Erick Moody</p>
      </div>
    </div>
</body>
</html>

